.span {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.probation {
    background-color: rgba(219, 202, 49, 0.692);
}

.active {
    background-color: rgba(154, 194, 60, 0.733);
}

.inactive {
    background-color: rgba(255, 5, 5, 0.664);
}