.employee-list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.employee-list-title-input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.employee-list-title-filter-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.employee-list-title-filter-group > label{
    /* max-width: 100%; */
    min-width: fit-content;
}

.employee-list-title-filter-group > select{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #e7f9ff;
    border: none;
    outline: none;
    width: 100%;
}

.create-employee-button {
    display: flex;
    align-items: center;
    background-color: #e7f9ff;
    border-radius: 20px;
}

.create-employee-button > div {
    /* display: flex; */
    /* font-size: medium; */
}

.plus-icon {
    background-color: #00a4ee;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    /* padding: px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    /* justify-items: center; */
}

.create-employee-text {
    padding: 10px;
    padding-right: 20px;
}

.employee-list-header {
    background-color: #0078a0;
    display: flex;
    flex-direction: row;
}

.employee-list-header  > h3{
    width: 14.25%;
}

.employee-list-element {
    display: flex;
    flex-direction: row;
}

.employee-list-element  > * {
    width: 14.25%;
}

.span {
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.probation {
    background-color: rgba(219, 202, 49, 0.692);
}

.active {
    background-color: rgba(154, 194, 60, 0.733);
}

.inactive {
    background-color: rgba(255, 5, 5, 0.664);
}

.action-buttons {
    display: flex;
    gap: 10px;
}