.nav-button{
    width:280px;
    height: 50px;
    padding: 10px;
    display: flex;
    /* outline: #03AEEE; */
    border: 2px solid #03AEEE;
    border-right: none;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    letter-spacing: 2px;
}

.nav-button > div {
    color: #03AEEE;
}

.selected-nav {
    background-color: #03AEEE;
}

.selected-nav > div {
    color: white;
}

.logout-nav {
    border: none;
    background-color: rgb(177, 176, 176);

}
.logout-nav > div{
    color: white;
    border: none;
}


.sidebar {
    background-color: white ;
    width: 300px;
    height: 100vh;
    position:fixed;
    padding: 0;
    justify-content: right;
    padding-top: 20px;
    padding-left:20px;
    box-shadow: 2px 5px 5px 0px  rgb(197, 197, 197);
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }
}
.button-image {
    width: 30px; 
    height: 30px; 
    background-color: white;
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px;
    border: 2px solid #03AEEE;
}

.sidebar-label {
    font-weight: bold; 
    color: white; 
    margin: 10px
}

.nav a{
    margin-top: 10px;
}