

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgb(252, 252, 252); */
}

.form-container > div {
    margin: 20px;
    width: 30%;
}

.box-container {
    box-shadow: 50px 50px 5px rgb(0, 0, 0);
}